.popular{
    margin-top: 60px;
    position: relative;
}


.popular__header{
margin-bottom: 30px;
text-align: left;

}

.popular__title{

}
.popular__title-span{


}

.popular__content{
    display: grid;
    column-gap: 24px;
grid-template-columns: repeat(4,1fr);
}

.popular__link{
    background-color: #ec6090;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 12px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    font-size: 14px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}
.popular__link:hover{
    color: #ec6090;
    background-color: #fff;
}