.library__box{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #27292a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.library__box-left{
display: flex;
align-items: center;
gap: 30px;
}
.library-box__img{
border-radius: 30px;
}
.library-box__details{
display: flex;
flex-direction: column;
gap: 6px;

}
.library-box__title{
    color: #fff;
    font-weight: bold;
    font-size: 15px;

}
.library-box__subtitle{
color: #666;
font-size: 14px;
}
.library-box__details-title{

}
.library-box__details-subtitle{

}
.library__box-middle{
display: flex;
justify-content: space-between;
flex-basis: 45%;
}
.library-box__date{
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    
}
.library-box__date-title{

}
.library-box__date-time{

}
.library-box__hour{
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    
}
.library-box__hour-title{

}
.library-box__hour-time{

}
.library-box__status{
    display: flex;
    flex-direction: column;
    gap: 6px;

    
}
.library-box__status-title{

}
.library-box__status-download{

}
.library__box-right{

}
.library-box__link{
padding: 12px 30px;
background-color: transparent;
border-radius: 30px;
border: 1px solid #666;
color: #666;
font-size: 14px;
}

