*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2122;
}
a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
